@{
    ViewBag.Title = "ETC";
}

<div class="row justify-content-center">
    <h3 class="text-black-50">Ciencia Ficcion</h3>
</div>

<div class="card-group">
    <div class="card">
        <img src="https://images.pexels.com/photos/3526020/pexels-photo-3526020.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Star Wars</h5>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Sala</th>
                        <th scope="col">Hora</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card">
        <img src="https://images.pexels.com/photos/3526022/pexels-photo-3526022.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Star Wars 3</h5>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Sala</th>
                        <th scope="col">Hora</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>

                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>

                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card">
        <img src="https://images.pexels.com/photos/4421573/pexels-photo-4421573.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Interestelar</h5>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Sala</th>
                        <th scope="col">Hora</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>

                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>

                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



