@{
    ViewBag.Title = "Inicio";
}

<div class="row justify-content-center">
    <h3 class="text-black-50">Cartelera</h3>
</div>
<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-6 mb-2">
            <div class="card">
                <img src="https://images.pexels.com/photos/3717321/pexels-photo-3717321.jpeg?cs=srgb&dl=pexels-roman-koval-3717321.jpg&fm=jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-uppercase">Ciencia Ficcion</h5>
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Pelicula</th>
                                <th>Horario</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Star Wars</td>
                                <td>13:30</td>
                            </tr>
                            <tr>
                                <td>Star Trek</td>
                                <td>17:00</td>
                            </tr>
                            <tr>
                                <td>Interestelar</td>
                                <td>20:00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <div class="card">
                <img src="https://images.pexels.com/photos/41161/soldier-uniform-army-weapon-41161.jpeg?cs=srgb&dl=pexels-pixabay-41161.jpg&fm=jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Accion</h5>
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Pelicula</th>
                                <th>Horario</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>John Wick</td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td>007</td>
                                <td>$40.00</td>
                            </tr>
                            <tr>
                                <td>Rapidos y Furiosos</td>
                                <td>$60.00</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-md-6 mb-2">
            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2017/05/10/17/27/sandwich-2301387_960_720.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sandwiches</h5>
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Capuccino</td>
                                <td>$50.00</td>
                            </tr>
                            <tr>
                                <td>Americano</td>
                                <td>$40.00</td>
                            </tr>
                            <tr>
                                <td>Mocka</td>
                                <td>$60.00</td>
                            </tr>
                            <tr>
                                <td>Latte</td>
                                <td>$50.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2017/08/21/10/03/tea-party-2664712_960_720.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Te</h5>
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Capuccino</td>
                                <td>$50.00</td>
                            </tr>
                            <tr>
                                <td>Americano</td>
                                <td>$40.00</td>
                            </tr>
                            <tr>
                                <td>Mocka</td>
                                <td>$60.00</td>
                            </tr>
                            <tr>
                                <td>Latte</td>
                                <td>$50.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-md-6 mb-2">
            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2017/01/11/11/33/cake-1971552_960_720.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Postres</h5>
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Capuccino</td>
                                <td>$50.00</td>
                            </tr>
                            <tr>
                                <td>Americano</td>
                                <td>$40.00</td>
                            </tr>
                            <tr>
                                <td>Mocka</td>
                                <td>$60.00</td>
                            </tr>
                            <tr>
                                <td>Latte</td>
                                <td>$50.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2017/11/11/20/16/food-2940312_960_720.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Frappes</h5>
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Capuccino</td>
                                <td>$50.00</td>
                            </tr>
                            <tr>
                                <td>Americano</td>
                                <td>$40.00</td>
                            </tr>
                            <tr>
                                <td>Mocka</td>
                                <td>$60.00</td>
                            </tr>
                            <tr>
                                <td>Latte</td>
                                <td>$50.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-md-6 mb-2">
            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2018/03/13/11/39/fruit-3222313_960_720.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Smoothies</h5>
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Capuccino</td>
                                <td>$50.00</td>
                            </tr>
                            <tr>
                                <td>Americano</td>
                                <td>$40.00</td>
                            </tr>
                            <tr>
                                <td>Mocka</td>
                                <td>$60.00</td>
                            </tr>
                            <tr>
                                <td>Latte</td>
                                <td>$50.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2013/11/12/01/29/bar-209148_960_720.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cervezas (de 6pm a 10pm)</h5>
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                            <tr class="thclass">
                                <th>Nombre</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Capuccino</td>
                                <td>$50.00</td>
                            </tr>
                            <tr>
                                <td>Americano</td>
                                <td>$40.00</td>
                            </tr>
                            <tr>
                                <td>Mocka</td>
                                <td>$60.00</td>
                            </tr>
                            <tr>
                                <td>Latte</td>
                                <td>$50.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-md-6 mb-2">
            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2017/06/26/12/49/red-wine-2443699_960_720.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Vino (6 pm a 10 pm)</h5>
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                            <tr class="thclass">
                                <th>Nombre</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Capuccino</td>
                                <td>$50.00</td>
                            </tr>
                            <tr>
                                <td>Americano</td>
                                <td>$40.00</td>
                            </tr>
                            <tr>
                                <td>Mocka</td>
                                <td>$60.00</td>
                            </tr>
                            <tr>
                                <td>Latte</td>
                                <td>$50.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2016/07/31/18/00/chicken-1559579_960_720.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Alitas</h5>
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="thclass">Nombre</th>
                                <th class="thclass">Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Capuccino</td>
                                <td>$50.00</td>
                            </tr>
                            <tr>
                                <td>Americano</td>
                                <td>$40.00</td>
                            </tr>
                            <tr>
                                <td>Mocka</td>
                                <td>$60.00</td>
                            </tr>
                            <tr>
                                <td>Latte</td>
                                <td>$50.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>